
@import '/src/app/scss/globalStyle.scss';


@media (max-width: 576px) { 
    .super-compos-titre-h1{
        font-size: 15px !important;
    }
}

/* ---------------------------------------- */


/* TITRES */
.super-compos-titre{
   display: flex;
   align-items: center;
}
.super-compos-titre-h1 {
    padding-top: 25px;
    color: var(--grey-dark);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 15px;;
}

n

fa-icon{
    margin-right: 25px;
}

.title_icon{
    color: var(--grey-dark); 
    font-size: 18px;
    margin-right: 20px;
}

@media only screen and (max-width: 480px) {
    .header-container {
       display: block !important;
    }

    .buttons__container{
        display: block !important;
        margin-right: 0px !important;
        :not(:last-child) {
            margin-right: 0px !important;
        }
        .myButton{
            width:100% !important;
            margin-bottom: 5px !important;
            margin-right:0px !important;
            margin-left: 0px !important;
        }
    }
    
 }